<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>比赛预告提醒</title>
</head>
<body>
<div style="font-family: '微软雅黑', Helvetica, Verdana, Arial, sans-serif;color: #222222;">
    <p>
        Hi $playerName$
    </p>
    <br/>
    <br/>
    下一场足球比赛预告信息如下:
    <ul>
        <li><p>比赛时间: <strong>$matchTime$</strong></p></li>
        <li><p>比赛对手: <strong>$oppo$</strong></p></li>
        <li><p>比赛地点: <strong>$position$</strong></p></li>
        <li><p>注意事项: <span style="color: #0092ef;">$remark$</span></p></li>
    </ul>
    <br/>

    <p>
        来自: <a href="$host$" target="_blank">知识分子足球队</a>
    </p>

    <p style="color: #d3d3d3;font-size: 12px;">
        这是一封由系统自动发出的邮件, 请勿回复.
        <br/>
        你能收到这封邮件,是因为你是知识分子足球队的队员; 若不是,请忽略该邮件.
    </p>
</div>
</body>
</html>

